@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:wght@500&display=swap');
body{
margin:0;
padding:0;
background: url(../images/LoginWall.png) no-repeat center top;
background-size: cover;
height: 100vh;
display: flex;
flex-direction: column-reverse;
}
.login-box{
	width: 320px;
	height: 420px;
	background-color: rgb(255, 255, 255);
	color: rgb(54, 54, 54);
	top:50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 5%;
	box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
}
.login-box .logo{
    weight:100px;
    height:100px ;
    position: absolute;
    top: -50px;
    left: calc(50% - 97px);
}
.login-box h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.login-box .btn-primary{
	border: none;
	outline: none;
	background: #028090;;
	color: #fff;
	font-size: 18px;
	font-family: Poppins;
    font-weight: 300;
    width: 100%;
    margin-top: 3rem;
}
.login-box .btn-primary:hover{
	background: #114B5F;
}


h1{
font-family: roboto;
}
label{
 font-family: Poppins;
  font-weight: 300;
}
.footerCopyright{
background-color: rgb(0 0 0 / 47%);
    width: 100%;
    font-family: Poppins;
    color: white;
}
.footerCopyright a{
color: #028090;
text-decoration: none;
}
.footerCopyright a:hover{
color: #E4FDE1;
}