:root,
body.light {
        --primary: #028090;
        --on-primary: #FAFDFD;
        --primary-container: #9eefff;
        --on-primary-container: #001f24;
        --secondary: #0062a2;
        --on-secondary: #FAFDFD;
        --secondary-container: #E4FDE1;
        --on-secondary-container: #001d35;
        --tertiary: #006783;
        --on-tertiary: #FAFDFD;
        --tertiary-container: #bde9ff;
        --on-tertiary-container: #001f2a;
        --error: #F45B69;
        --on-error: #FAFDFD;
        --error-container: #ffdada;
        --on-error-container: #40000b;
        --background: #fbfcfe;
        --on-background: #191c1e;
        --surface: #f8f9fb;
        --on-surface: #191c1e;
        --surface-variant: #dce4e9;
        --on-surface-variant: #40484c;
        --outline: #70787d;
        --outline-variant: #c0c8cd;
        --shadow: #000000;
        --scrim: #000000;
        --inverse-surface: #2e3132;
        --inverse-on-surface: #eff1f3;
        --inverse-primary: #51d7ee;
        --surface-dim: #d9dadc;
        --surface-bright: #f8f9fb;
        --surface-container-lowest: #ffffff;
        --surface-container-low: #f2f4f6;
        --surface-container: #edeef0;
        --surface-container-high: #e7e8ea;
        --surface-container-highest: #e1e2e4;
        --overlay: rgb(0 0 0 / 0.5);
        --active: rgb(0 0 0 / 0.1);
        --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
        --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
        --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
 }
body.dark {
  --primary: #51d7ee;
  --on-primary: #00363e;
  --primary-container: #004e59;
  --on-primary-container: #9eefff;
  --secondary: #9dcaff;
  --on-secondary: #00363e;
  --secondary-container: #00497c;
  --on-secondary-container: #d1e4ff;
  --tertiary: #64d3ff;
  --on-tertiary: #003546;
  --tertiary-container: #004d64;
  --on-tertiary-container: #bde9ff;
  --error: #ffb3b5;
  --on-error: #680017;
  --error-container: #8f0b27;
  --on-error-container: #ffdada;
  --background: #1c1b1e;
  --on-background: #e6e1e6;
  --surface: #141316;
  --on-surface: #e6e1e6;
  --surface-variant: #49454e;
  --on-surface-variant: #cac4cf;
  --outline: #948f99;
  --outline-variant: #49454e;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e6e1e6;
  --inverse-on-surface: #313033;
  --inverse-primary: #006876;
  --surface-dim: #141316;
  --surface-bright: #3a383c;
  --surface-container-lowest: #0f0e11;
  --surface-container-low: #1c1b1e;
  --surface-container: #201f22;
  --surface-container-high: #2b292d;
  --surface-container-highest: #363438;
  --overlay: rgb(0 0 0 / 0.5);
  --active: rgb(255 255 255 / 0.2);
  --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
  --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
  --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
}