<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>

</head>
<body>
<div layout:fragment="content">
    <div class="bodyContainer">
        <div class="dashBoard">
            <div class="card text-bg-dark">
                <img th:src="@{/images/Baner1.png}" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div class="InfoCard">
                        <h1 class="card-title" th:text="${'Hola, '+Data.name}">Hola,</h1>
                        <h3 class="card-text" th:text="${'Nivel:  '+Data.level}"></h3>
                    </div>

                    <div class="ProgresCard">
                        <div class="ProgresItem" th:each="scores : ${Data.scores}">
                            <h6 th:text="${scores.key}">null</h6>
                            <div class="progress" role="progressbar" aria-label="Example with label"
                                 th:attr="aria-valuenow=${scores.value}" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" th:style="${'width: '+scores.value+'%'}"
                                     th:text="${scores.value+'%'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bodyContent">
            <a class="itemBody" th:href="@{/tutoriales}">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{/images/Tutoriales.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tutoriales</h5>
                        <p class="card-text">Aprende con videos, diapositivas y más!</p>
                    </div>
                </div>
            </a>
            <a class="itemBody" th:href="@{/glossary}">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{/images/Glosario.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Glosario</h5>
                        <p class="card-text">Catálogo ordenado de palabras.</p>
                    </div>
                </div>
            </a>
            <a class="itemBody" th:href="@{/challenge}">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{/images/Test.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Empezar Desafío</h5>
                        <p class="card-text">Inicia o continua con las pruebas mas divertidas!</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <script th:if="${Data.isAllComplete}"
            th:inline="javascript">congratulations(/*[[${Data.level}]]*/)
    </script>
</div>
</body>
</html>