<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainLayout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${Quiz.description}"></title>
    <link th:href="@{/css/quiz.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <div class="bodyContainer">
        <div class="bodyHeader">
            <div class="card">
                <div class="card-body">
                    <h4 class="question"></h4>
                </div>
            </div>
        </div>
        <div class="bodyContent">


        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="isLoading" tabindex="-1" aria-labelledby="isLoadingLabel" aria-modal="true"
         role="dialog">
        <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="modal-backdrop fade show" id="backdropIsLoading" style="display: none;"></div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
         role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <p class="modalTotalQuestions"><strong>Preguntas:</strong></p>
                    <p class="modalScore"><strong>Puntuación: </strong></p>
                    <a th:href="@{/home}">
                        <button class="btn btn-primary" type="button" value="Volver">
                            Volver
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

    <script type="text/javascript" th:src="@{/js/Quiz.js}"></script>
    <script th:inline="javascript">setQuestions(/*[[${Quiz.questionList}]]*/null, /*[[${Quiz.description}]]*/)</script>
</div>
</body>
</html>