<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Tutoriales</title>
    <link th:href="@{/css/tutorial.css}" rel="stylesheet"/>

</head>
<body>
<div layout:fragment="content">
    <div class="bodyContainer">
        <div class="bodyHeader">
            <h1>Tutoriales</h1>
        </div>
        <div class="bodyContent">
            <div class="accordion" id="accordionTutorial">

                <div th:each="tutorial, index : ${Tutorial}" class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                th:attr="data-bs-target='#collapse-'+${tutorial.key}, aria-controls='collapse-'+${tutorial.key}"
                                aria-expanded="false" th:text="${tutorial.key}">

                        </button>
                    </h2>
                    <div th:id="'collapse-'+${tutorial.key}" class="accordion-collapse collapse"
                         data-bs-parent="#accordionTutorial">
                        <div class="accordion-body">
                            <div th:each="url : ${tutorial.value}">
                                <iframe width="560" height="315" th:src="${url}"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>